In [1]:
# import packages
import pandas as pd
import datetime

In [2]:
# read the data
data_directory = '00_data'

df = pd.read_excel('Auftragsfolgen ohne MaschStatus-20230622.xlsx', header=0)

In [6]:
# 1) create new column 'Release_Date' as 'Lieferdatum_Rohmaterial' + 1 day
df['Release_Date'] = df['Lieferdatum_Rohmaterial'] + pd.Timedelta(days=1)

# 2) & 3)
# divide data by machines: Each machine gets a unique df
data = {}
for machine in df.Maschine.unique():
    data[machine] = df[df.Maschine == machine].sort_values('Start').reset_index(drop=True)
    
# filter by machine 'SL-7' and 01.01.2015 (examplary machine and date)
machine = 'SL-7'
production_start = pd.Timestamp(datetime.date(2015, 1, 1))
# get data which is released before production start and has a due data not before one day after production start
df_test = data[machine][(data[machine].Release_Date <= production_start) & (data[machine].LTermin >= production_start + pd.Timedelta(days=2))].reset_index(drop=True)

# df_test would be the dataframe that you need to pass to my optimizer.
# machine and production_start could be variables connected to buttons of you UI.

TypeError: '>=' not supported between instances of 'str' and 'Timestamp'

In [5]:
df_test

,AKNR,TeilNr,SchrittNr,Fefco_Teil,ArtNr_Teil,ID_Druck,Druckflaeche,Bogen_Laenge_Brutto,Bogen_Breite_Brutto,Maschine,...,Menge_Ist,Bemerkung,LTermin,KndNr,Suchname,Lieferdatum_Rohmaterial,BE_Erledigt,Start,Ende,Release_Date
0,3272,1,1,0110 (Fert.-Riller),10141,0,NaN,2033.0,1855.0,SL-7,...,1000,Stanzwerkzeug Nr. 600 liegt am SL 9,2014-01-09 00:00:00.000,11662,LEBO,2014-01-03,1,2014-01-06 11:49:30.000,2014-01-06 13:25:07.000,2014-01-04
1,3349,1,1,0410 man,11070,1,0.10,1762.0,1132.0,SL-7,...,630,Druckfarbe : schwarz Klischee liegt in Kiste 18,2014-01-08 00:00:00.000,12300,BMG,2014-01-02,1,2014-01-07 08:11:49.000,2014-01-07 08:31:44.000,2014-01-03
2,3340,1,1,0410 man,10962,1,0.10,1986.0,995.0,SL-7,...,800,Druckfarbe : schwarz Klischee liegt in Kiste 18,2014-01-08 00:00:00.000,12300,BMG,2014-01-02,1,2014-01-07 09:23:51.000,2014-01-07 09:53:14.000,2014-01-03
3,3543,1,1,0411 man,10304,1,0.05,2200.0,2071.0,SL-7,...,1190,NaN,2014-01-08 00:00:00.000,11910,HUGA,2014-01-04,1,2014-01-07 20:26:37.000,2014-01-07 20:31:31.000,2014-01-05
4,3331,1,1,0410 man,10967,1,0.10,1406.0,1674.0,SL-7,...,600,Druckfarbe : schwarz Klischee liegt in Kiste 18,2014-01-08 00:00:00.000,12300,BMG,2014-01-03,1,2014-01-08 06:15:45.000,2014-01-08 07:11:45.000,2014-01-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5493,4513,1,1,0410 man,11678,1,0.10,1076.0,755.0,SL-7,...,3400,NaN,2014-01-14 00:00:00.000,12516,STEENS GROUP A/S,2014-01-14,1,NaN,NaN,2014-01-15
5494,4959,1,1,0950 man,11850,1,0.02,1704.0,1245.0,SL-7,...,0,Druck : Nr. 613056,2014-01-27 00:00:00.000,10960,THIELEMEYER GMBH,2014-01-22,1,NaN,NaN,2014-01-23
5495,38919,2,1,0300/B,16417/B,1,0.01,2145.0,1252.0,SL-7,...,100,Druck: Interseroh-DSI ( in Kiste 6 ) mittig au...,2016-02-12 00:00:00.000,13177,DOMINA VERTRIEBS,2016-02-08,1,NaN,NaN,2016-02-09
5496,38919,2,1,0300/D,16417/D,1,0.10,2165.0,1286.0,SL-7,...,100,Druck: Interseroh-DSI mittig auf die große Flä...,2016-02-12 00:00:00.000,13177,DOMINA VERTRIEBS,2016-02-08,1,NaN,NaN,2016-02-09
5497,46832,1,1,0410 man,11317,1,0.10,1195.0,874.0,SL-7,...,1207,Klischee Nr. 1285 Druckfarbe: schwarz FSC-Nr...,2016-09-09 00:00:00.000,12516,STEENS GROUP A/S,2016-08-30,1,NaN,NaN,2016-08-31